@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
	font-size: 0.85em;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
  }

.console {
	font-size: 0.85em;
	font-family: 'Apple System', monospace;
  }

  